<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.fr.mapper.DiagnosisMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.staitech.fr.domain.Diagnosis">
        <id column="diagnosis_id" property="diagnosisId" />
        <result column="special_id" property="specialId" />
        <result column="group_id" property="groupId" />
        <result column="single_id" property="singleId" />
        <result column="viscera" property="viscera" />
        <result column="viscrea_name" property="viscreaName" />
        <result column="position" property="position" />
        <result column="position_name" property="positionName" />
        <result column="lesion" property="lesion" />
        <result column="lesion_name" property="lesionName" />
        <result column="ddefinition" property="ddefinition" />
        <result column="ddefinition_name" property="ddefinitionName" />
        <result column="grade" property="grade" />
        <result column="grade_name" property="gradeName" />
        <result column="remark" property="remark" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        diagnosis_id, special_id, group_id, single_id, viscera, viscrea_name, position, position_name, lesion, lesion_name, ddefinition, ddefinition_name, grade, grade_name, remark, delete_flag, create_by, create_time, update_by, update_time
    </sql>
    
     <select id="selectUserById" parameterType="Long" resultType="cn.staitech.system.api.domain.SysUser">
        select * from sys_user
        where user_id = #{userId}
    </select>

    <select id="getExportListVO" resultType="cn.staitech.fr.domain.out.ExportListVO">

        select fd.position_name,
               fd.lesion_name,
               fd.grade_name,
               fd.ddefinition_name,
               fd.remark,
               su.user_name                                     create_by,
               DATE_FORMAT(fd.create_time, '%Y-%m-%d %H:%i:%s') create_time
        from fr_diagnosis fd
                 left join sys_user su on fd.create_by = su.user_id
        where fd.single_id = #{singleId}
          and fd.delete_flag = 1

    </select>
</mapper>
