<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.fr.mapper.DiagnosisMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.staitech.fr.domain.Diagnosis">
        <id column="diagnosis_id" property="diagnosisId" />
        <result column="special_id" property="specialId" />
        <result column="group_id" property="groupId" />
        <result column="single_id" property="singleId" />
        <result column="viscera" property="viscera" />
        <result column="viscrea_name" property="viscreaName" />
        <result column="position" property="position" />
        <result column="position_name" property="positionName" />
        <result column="lesion" property="lesion" />
        <result column="lesion_name" property="lesionName" />
        <result column="ddefinition" property="ddefinition"  typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="ddefinition_name" property="ddefinitionName" />
        <result column="grade" property="grade" />
        <result column="grade_name" property="gradeName" />
        <result column="remark" property="remark" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="position_source" property="positionSource" />
        <result column="lesion_source" property="lesionSource" />
        <result column="grade_source" property="gradeSource" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        diagnosis_id, special_id, group_id, single_id, viscera, viscrea_name, position, position_name, lesion, lesion_name, ddefinition, ddefinition_name, grade, grade_name, 
        remark, delete_flag, create_by, create_time, update_by, update_time,position_source,lesion_source,ddefinition_source,grade_source
    </sql>

     <select id="selectUserById" parameterType="map" resultType="cn.staitech.system.api.domain.SysUser">
        select * from sys_user
        <where>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="userName != null">
                AND user_name = #{userName}
            </if>
        </where>
    </select>

    <select id="getExportListVO" resultType="cn.staitech.fr.domain.out.ExportListVO">

        select fd.position_name,
               fd.lesion_name,
               fd.grade_name,
               fd.ddefinition_name,
               fd.remark,
               su.user_name                                     create_by,
               DATE_FORMAT(fd.create_time, '%Y-%m-%d %H:%i:%s') create_time
        from fr_diagnosis fd
                 left join sys_user su on fd.create_by = su.user_id
        where fd.single_id = #{singleId}
          and fd.delete_flag = 1

    </select>
    <select id="getOrganizationName" resultType="java.lang.String">
        select organization_name
        from sys_organization
        where organization_id = #{organizationId}
    </select>
    
    <select id="selectListByParm" parameterType="cn.staitech.fr.domain.Diagnosis"
            resultMap="BaseResultMap">
        select
        	*
        from fr_diagnosis
        <where>
            <if test="specialId != null">
                AND special_id = #{specialId}
            </if>
            <if test="singleId != null">
                AND single_id = #{singleId}
            </if>
            <if test="deleteFlag != null">
                AND delete_flag = #{deleteFlag}
            </if>
        </where>
        order by create_time asc
    </select>
</mapper>
