<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.fr.mapper.ImageMapper">
    <resultMap id="BaseResultMap" type="cn.staitech.fr.domain.Image">
        <result column="image_id" jdbcType="BIGINT" property="imageId"/>
        <result column="file_name" jdbcType="VARCHAR" property="fileName"/>
        <result column="image_name" jdbcType="VARCHAR" property="imageName"/>
        <result column="image_path" jdbcType="VARCHAR" property="imagePath"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
        <result column="thumb_url" jdbcType="VARCHAR" property="thumbUrl"/>
        <result column="macro_url" jdbcType="VARCHAR" property="macroUrl"/>
        <result column="label_url" jdbcType="VARCHAR" property="labelUrl"/>
        <result column="cache_url" jdbcType="VARCHAR" property="cacheUrl"/>
        <result column="multiple" jdbcType="VARCHAR" property="multiple"/>
        <result column="format" jdbcType="VARCHAR" property="format"/>
        <result column="width" jdbcType="VARCHAR" property="width"/>
        <result column="height" jdbcType="VARCHAR" property="height"/>
        <result column="depth" jdbcType="VARCHAR" property="depth"/>
        <result column="size" jdbcType="VARCHAR" property="size"/>
        <result column="global_size" jdbcType="VARCHAR" property="globalSize"/>
        <result column="resolving_power" jdbcType="VARCHAR" property="resolvingPower"/>
        <result column="tile_count_list" jdbcType="VARCHAR" property="tileCountList"/>
        <result column="level_count" jdbcType="TINYINT" property="levelCount"/>
        <result column="chunk_total" jdbcType="SMALLINT" property="chunkTotal"/>
        <result column="md5" jdbcType="VARCHAR" property="md5"/>
        <result column="resolution_x" jdbcType="VARCHAR" property="resolutionX"/>
        <result column="resolution_y" jdbcType="VARCHAR" property="resolutionY"/>
        <result column="source_lens" jdbcType="INTEGER" property="sourceLens"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="image_code" jdbcType="VARCHAR" property="imageCode"/>
        <result column="topic_id" jdbcType="BIGINT" property="topicId"/>
        <result column="topic_name" jdbcType="VARCHAR" property="topicName"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="host_id" jdbcType="TINYINT" property="hostId"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="round_id" jdbcType="BIGINT" property="roundId"/>
        <result column="biz_type" jdbcType="TINYINT" property="bizType"/>
        <result column="source" jdbcType="TINYINT" property="source"/>
        <result column="folder_id" jdbcType="BIGINT" property="folderId"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
    </resultMap>
    <sql id="Base_Column_List">
        image_id
        , file_name, image_name, image_path, image_url, thumb_url, macro_url, label_url,
        cache_url, multiple, format, width, height, `depth`, `size`, global_size, resolving_power,
        tile_count_list, level_count, chunk_total, md5, resolution_x, resolution_y, source_lens,
        create_by, create_time, update_by, update_time, image_code, topic_id,
        topic_name, `status`, host_id, organization_id, round_id, biz_type,
        `source`,folder_id
    </sql>

    <sql id="selectImageVo">
        select image_id,
               file_name,
               image_name,
               image_path,
               image_url,
               thumb_url,
               macro_url,
               label_url,
               cache_url,
               multiple,
               format,
               width,
               height,
               `depth`,
               `size`,
               global_size,
               resolving_power,
               tile_count_list,
               level_count,
               chunk_total,
               md5,
               resolution_x,
               resolution_y,
               source_lens,
               create_by,
               create_time,
               update_by,
               update_time,
               image_code,
               topic_id,
               topic_name,
               `status`,
               host_id,
               organization_id,
               round_id,
               biz_type,
               `source`,
               folder_id
        from tb_image
    </sql>

    <!--查询单个图像信息-->
    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <include refid="selectImageVo"/>
        <where>
            <if test="imageId != null and imageId != ''">
                and image_id = #{imageId}
            </if>
        </where>
    </select>

    <!--通过图片ID查询切片-->
    <select id="selectSlideCountByImageId" parameterType="cn.staitech.fr.domain.Image" resultType="java.lang.Integer">
        select count(*) from `tb_slide`
        <where>
            <if test="imageId != null and imageId != ''">
                and image_id = #{imageId}
            </if>
        </where>
    </select>

    <!-- 切片管理 - 切片列表 - 图像列表 包含选中和未选中全部的切片 -->
    <select id="selectListSlfe" parameterType="cn.staitech.fr.domain.Image" resultMap="BaseResultMap">
        select i.image_id,
        i.file_name,
        i.image_name,
        i.image_path,
        i.image_url,
        i.thumb_url,
        i.macro_url,
        i.label_url,
        i.cache_url,
        i.multiple,
        i.format,
        i.width,
        i.height,
        i.`depth`,
        i.`size`,
        i.global_size,
        i.resolving_power,
        i.tile_count_list,
        i.level_count,
        i.chunk_total,
        i.md5,
        i.resolution_x,
        i.resolution_y,
        i.source_lens,
        i.create_by,
        i.create_time,
        i.update_by,
        i.update_time,
        i.image_code,
        i.topic_id,
        i.topic_name,
        i.`status`,
        i.host_id,
        i.organization_id,
        i.round_id,
        i.biz_type,
        i.`source`,
        i.folder_id,
        u.nick_name,
        f.folder_name
        from tb_image i
        left join sys_user u on i.create_by = u.user_id
        left join aipre_folder f on i.folder_id = f.folder_id
        <where>
            <if test="imageId != null">
                <!-- 切片（图像）ID -->
                and i.image_id = #{imageId}
            </if>
            <if test="topicId != null">
                <!-- 专题ID -->
                and i.topic_id = #{topicId}
            </if>
            <if test="status != null">
                <!-- 切片状态 -->
                and i.status = #{status}
            </if>
            <if test="organizationId != null">
                <!-- 组织机构编号 -->
                and i.organization_id = #{organizationId}
            </if>
            <if test="roundId != null">
                <!--轮次编号 -->
                and i.round_id = #{roundId}
            </if>
            <if test="bizType != null">
                <!-- 业务类型编号 -->
                and i.biz_type = #{bizType}
            </if>
            <if test="createBy != null">
                <!-- 专题名称 -->
                and i.create_by = #{createBy}
            </if>
            <if test="source != null">
                <!-- 图像来源：上传方式 -->
                and i.source = #{source}
            </if>
            <if test="fileName != null and imageName != ''">
                <!-- 图像名称(不带扩展名) -->
                and i.file_name like concat('%', #{fileName}, '%')
            </if>
            <if test="imageName != null and imageName != ''">
                <!-- 图像名称 -->
                and i.image_name like concat('%', #{imageName}, '%')
            </if>
            <if test="imageCode != null and imageCode != ''">
                <!-- 切片（图像）编号 -->
                and i.image_code like concat('%', #{imageCode}, '%')
            </if>
            <if test="topicName != null and topicName != ''">
                <!-- 专题名称 -->
                and i.topic_name like concat('%', #{topicName}, '%')
            </if>
            <if test="createTimeParams != null">
                <if test="createTimeParams.beginTime != null and createTimeParams.beginTime != ''">
                    <!-- 开始时间检索 -->
                    and date_format(i.create_time,'%y%m%d') &gt;= date_format(#{createTimeParams.beginTime},'%y%m%d')
                </if>
                <if test="createTimeParams.endTime != null and createTimeParams.endTime != ''">
                    <!-- 结束时间检索 -->
                    and date_format(i.create_time,'%y%m%d') &lt;= date_format(#{createTimeParams.endTime},'%y%m%d')
                </if>
            </if>
        </where>
        order by i.image_id desc
    </select>

    <!-- 查询未选中的切片列表 -->
    <select id="selectNotChoicedList" parameterType="cn.staitech.fr.domain.Image" resultMap="BaseResultMap">
        <include refid="selectImageVo">
        </include>
        <where>
            image_id not in (select image_id from tb_slide
            <where>
                <if test="projectId != null">
                    and project_id = #{projectId}
                </if>
                <if test="reviewRoundId != null">
                    and review_round_id = #{reviewRoundId}
                </if>
            </where>
            )
            <if test="topicId != null">
                <!-- 专题ID -->
                and topic_id = #{topicId}
            </if>
            <if test="status != null">
                <!-- 切片状态 -->
                and status = #{status}
            </if>
            <if test="organizationId != null">
                <!-- 组织机构编号 -->
                and organization_id = #{organizationId}
            </if>
            <if test="roundId != null">
                <!--轮次编号 -->
                and round_id = #{roundId}
            </if>
            <if test="bizType != null">
                <!-- 业务类型编号 -->
                and biz_type = #{bizType}
            </if>
            <if test="source != null">
                <!-- 图像来源：上传方式 -->
                and source = #{source}
            </if>
            <if test="imageName != null and imageName != ''">
                <!-- 图像名称 -->
                and image_name like concat('%', #{imageName}, '%')
            </if>
            <if test="imageCode != null and imageCode != ''">
                <!-- 切片（图像）编号 -->
                and image_code like concat('%', #{imageCode}, '%')
            </if>
            <if test="topicName != null and topicName != ''">
                <!-- 专题名称 -->
                and topic_name like concat('%', #{topicName}, '%')
            </if>
            <if test="createTimeParams != null">
                <if test="createTimeParams.beginTime != null and createTimeParams.beginTime != ''">
                    <!-- 开始时间检索 -->
                    and date_format(create_time,'%y%m%d') &gt;= date_format(#{createTimeParams.beginTime},'%y%m%d')
                </if>
                <if test="createTimeParams.endTime != null and createTimeParams.endTime != ''">
                    <!-- 结束时间检索 -->
                    and date_format(create_time,'%y%m%d') &lt;= date_format(#{createTimeParams.endTime},'%y%m%d')
                </if>
            </if>
        </where>
        order by image_id desc
    </select>


    <!-- 查询已经选中的切片列表 -->
    <select id="selectChoicedList" parameterType="cn.staitech.fr.domain.Image" resultMap="BaseResultMap">
        <include refid="selectImageVo">
        </include>
        <where>
            image_id in (select image_id from tb_slide
            <where>
                <if test="projectId != null">
                    and project_id = #{projectId}
                </if>
                <if test="reviewRoundId != null">
                    and review_round_id = #{reviewRoundId}
                </if>
            </where>
            )
            <if test="topicId != null">
                <!-- 专题ID -->
                and topic_id = #{topicId}
            </if>
            <if test="status != null">
                <!-- 切片状态 -->
                and status = #{status}
            </if>
            <if test="organizationId != null">
                <!-- 组织机构编号 -->
                and organization_id = #{organizationId}
            </if>
            <if test="roundId != null">
                <!--轮次编号 -->
                and round_id = #{roundId}
            </if>
            <if test="bizType != null">
                <!-- 业务类型编号 -->
                and biz_type = #{bizType}
            </if>
            <if test="source != null">
                <!-- 图像来源：上传方式 -->
                and source = #{source}
            </if>
            <if test="imageName != null and imageName != ''">
                <!-- 图像名称 -->
                and image_name like concat('%', #{imageName}, '%')
            </if>
            <if test="imageCode != null and imageCode != ''">
                <!-- 切片（图像）编号 -->
                and image_code like concat('%', #{imageCode}, '%')
            </if>
            <if test="topicName != null and topicName != ''">
                <!-- 专题名称 -->
                and topic_name like concat('%', #{topicName}, '%')
            </if>
            <if test="createTimeParams != null">
                <if test="createTimeParams.beginTime != null and createTimeParams.beginTime != ''">
                    <!-- 开始时间检索 -->
                    and date_format(create_time,'%y%m%d') &gt;= date_format(#{createTimeParams.beginTime},'%y%m%d')
                </if>
                <if test="createTimeParams.endTime != null and createTimeParams.endTime != ''">
                    <!-- 结束时间检索 -->
                    and date_format(create_time,'%y%m%d') &lt;= date_format(#{createTimeParams.endTime},'%y%m%d')
                </if>
            </if>
        </where>
        order by image_id desc
    </select>


    <!--标注组选片入口预览图像列表-->
    <select id="selectImageChooseList" parameterType="cn.staitech.fr.domain.Image" resultMap="BaseResultMap">
        <include refid="selectImageVo">
        </include>
        <where>
            <if test="imageId != null and imageId != ''">
                and image_id = #{imageId}
            </if>
            <if test="imageCode != null and imageCode != ''">
                and image_code like concat('%', #{imageCode}, '%')
            </if>
            <if test="imageName != null and imageName != ''">
                and image_name like concat('%', #{imageName}, '%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                <!-- 开始时间检索 -->
                and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                <!-- 结束时间检索 -->
                and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
        order by image_id desc
    </select>

    <!--标注组图像列表-->
    <select id="selectImageAnnotationList" parameterType="cn.staitech.fr.domain.Image" resultMap="BaseResultMap">
        <include refid="selectImageVo">
        </include>
        <where>
            <if test="imageId != null and imageId != ''">
                and image_id = #{imageId}
            </if>
            <if test="imageName != null and imageName != ''">
                and image_name like concat('%', #{imageName}, '%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                <!-- 开始时间检索 -->
                and date_format(update_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                <!-- 结束时间检索 -->
                and date_format(update_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
        order by
        update_time desc
    </select>


    <!-- 物理删除图像:1：物理删除。2：没有被任何项目绑定或使用的切片可以删除。3：不可用状态的切片的可以删除
     `status` 0上传中、1上传失败、2解析中、3解析失败、4可用',-->
    <delete id="deleteById" parameterType="java.lang.Long">
        <if test="imageId != null and imageId != ''">
            delete
            from tb_image
            where image_id = #{imageId}
        </if>
    </delete>
</mapper>