<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.fr.mapper.OrganMapper">
    <resultMap type="cn.staitech.fr.domain.Organ" id="OrganResult">
        <result property="organId" column="organ_id"/>
        <result property="name" column="name"/>
        <result property="nameEn" column="name_en"/>
        <result property="speciesCode" column="species_code"/>
        <result property="organizationId" column="organization_id"/>
    </resultMap>

    <select id="getOrganBySpeciesId" parameterType="cn.staitech.fr.domain.Organ"
            resultType="cn.staitech.fr.domain.Organ">
        SELECT organ_id,`name`,`name_en`,species_code,organization_id
        FROM tb_organ
        <where>
            <if test="organizationId != null">
                AND organization_id = #{organizationId}
            </if>
            <if test="speciesCode != null">
                AND species_code = #{speciesCode}
            </if>
        </where>
    </select>
</mapper>