<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.fr.mapper.SingleSlideMapper">

    <select id="selectSingleOrgan" resultType="cn.staitech.fr.domain.out.OrganDisassemblyOut">
        SELECT
        ti.file_name,
        ss.single_id,
        ss.slide_id,
        ss.thumb_url,
        ss.category_id,
        fc.organ_en,
        fc.organ_name,
        fs.group_code,
        fs.wax_code,
        fs.animal_code,
        fs.gender_flag,
        fs.initiate_by,
        su.user_name as initiate_name,
        fs.initiate_time
        FROM
        fr_single_slide ss
        LEFT JOIN fr_slide fs ON ss.slide_id = fs.slide_id
        LEFT JOIN fr_category fc ON ss.category_id = fc.category_id
        left join tb_image ti on fs.image_id = ti.image_id
        left join sys_user su on fs.initiate_by=su.user_id
        <where>
            fs.special_id = #{specialId} and fs.process_flag = '2'
            <if test="fileName != null and fileName != ''">
                and ti.file_name like concat('%',#{fileName},'%')
            </if>
            <if test="initiateName != null and initiateName != ''">
                and su.user_name like concat('%',#{initiateName},'%')
            </if>
            <if test="categoryId != null and categoryId != ''">
                and ss.category_id =#{categoryId}
            </if>
            <if test="initiateTimeParams!=null and initiateTimeParams.size() > 0">
                <if test="initiateTimeParams.beginTime != null and initiateTimeParams.beginTime != ''">
                    AND date_format(fs.initiate_time,'%Y%m%d') &gt;=
                    date_format(#{initiateTimeParams.beginTime},'%Y%m%d')
                </if>
                <if test="initiateTimeParams.endTime != null and initiateTimeParams.endTime != ''">
                    AND date_format(fs.initiate_time,'%Y%m%d') &lt;= date_format(#{initiateTimeParams.endTime},'%Y%m%d')
                </if>
            </if>
        </where>
        order by fs.initiate_time desc
    </select>
    <select id="selectNumber" resultType="cn.staitech.fr.domain.SingleOrganNumber">
        select count(*) as organ_number, category_id, slide_id
        from fr_annotation
        <where>
            contour_type='2'
            <if test="slideIds != null and slideIds.size>0">
                AND slide_id in
                <foreach collection="slideIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="categoryId!= null and categoryId!= ''">
                AND category_id = #{categoryId}
            </if>
        </where>
        group by slide_id, category_id
    </select>

    <select id="getExportVO" resultType="cn.staitech.fr.domain.out.ExportVO">
        select fsl.special_name,
               tt.topic_name,
               ti.file_name,
               ts.name trialType,
               ts.name_en,
               fs.gender_flag,
               fsl.color_type,
               fs.group_code,
               ti.format,
               fc.organ_name,
               if(fss.abnormal_status='1','未见异常病理变化','') abnormalStatus,
               fss.thumb_url
        from fr_single_slide fss
                 left join fr_slide fs on fss.slide_id = fs.slide_id
                 left join fr_special fsl on fs.special_id = fsl.special_id
                 left join tb_topic tt on fsl.topic_id = tt.topic_id
                 left join tb_image ti on fs.image_id = ti.image_id
                 left join fr_category fc on fss.category_id = fc.category_id
                 left join tb_species ts on fsl.species_id = ts.species_id and ts.organization_id = fsl.organization_id
        where fss.single_id = #{id}
    </select>

    <select id="getExportAiVO" resultType="cn.staitech.fr.domain.out.ExportAiVO">
        select fsl.special_name,
               tt.topic_name,
               ti.file_name,
               ts.name trialType,
               ts.name_en,
               fs.gender_flag,
               fsl.color_type,
               fs.group_code,
               ti.format,
               fc.organ_name,
               fss.thumb_url
        from fr_single_slide fss
                 left join fr_slide fs on fss.slide_id = fs.slide_id
                 left join fr_special fsl on fs.special_id = fsl.special_id
                 left join tb_topic tt on fsl.topic_id = tt.topic_id
                 left join tb_image ti on fs.image_id = ti.image_id
                 left join fr_category fc on fss.category_id = fc.category_id
                 left join tb_species ts on fsl.species_id = ts.species_id and ts.organization_id = fsl.organization_id
        where fss.single_id = #{id}
    </select>



    <sql id="singleSlideBy">
        s.slide_id,
        s.special_id,
        s.image_id,
        s.group_code,
        s.wax_code,
        s.animal_code,
        s.gender_flag,
        s.organs,
        s.process_flag,
        s.check_status,
        s.check_by,
        s.check_time,
        s.initiate_by,
        s.initiate_time,
        s.del_flag,
        s.create_by,
        s.create_time,
        s.update_by,
        s.update_time,
        m.image_id,
        m.thumb_url,
        m.image_path,
        m.format,
        m.width,
        m.height,
        m.source_lens,
        m.resolution_x,
        m.resolution_y,
        m.source_lens,
        m.image_name,
        ss.single_id,
        ss.single_id as singleSlideId,
        ss.thumb_url as singleThumbUrl,
        ss.category_id,
        ss.description,
        ss.forecast_status,
        ss.diagnosis_status
    </sql>



    <select id="singleSlideBy" parameterType="long"
            resultType="cn.staitech.fr.domain.out.SingleSlideSelectBy">
        select <include refid="singleSlideBy"/>
        from fr_single_slide as ss
        left join fr_slide s on ss.slide_id = s.slide_id
        left join tb_image m on m.image_id = s.image_id
        <where>
            <if test="singleId != null">
                ss.single_id = #{singleId, jdbcType=NUMERIC}
            </if>
        </where>
    </select>

    <select id="singleSlideList" parameterType="cn.staitech.fr.domain.in.SingleSlideAdjacent"
            resultType="cn.staitech.fr.domain.out.SingleSlideSelectBy">
        select  <include refid="singleSlideBy"/>
        from fr_single_slide as ss
        left join fr_slide s on ss.slide_id = s.slide_id
        left join tb_image m on m.image_id = s.image_id
        <where>
            <if test="specialId != null">
                s.special_id = #{specialId, jdbcType=NUMERIC}
            </if>
            <if test="categoryId != null">
                AND ss.category_id = #{categoryId, jdbcType=NUMERIC}
            </if>
            <if test="imageName != null">
                AND m.image_name like concat('%',#{imageName},'%')
            </if>
        </where>
    </select>

    <select id="getRangOut" resultType="java.lang.String">
        select concat(min(cast( faf.results AS DECIMAL ( 18, 3 ) )),faf.unit,'-',max(cast( faf.results AS DECIMAL ( 18, 3 ) )),faf.unit)
        from fr_single_slide fss
                 left join fr_slide fs on fss.slide_id = fs.slide_id
            and fs.del_flag='0'
                 left join fr_ai_forecast faf on faf.single_slide_id=fss.single_id
        where fss.category_id = #{categoryId}
          and fs.special_id= #{specialId}
          and fs.group_code= #{groupCode}
        group by faf.unit;
    </select>

</mapper>
