<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.fr.mapper.SlideMapper">

    <resultMap id="BaseResultMap" type="cn.staitech.fr.domain.Slide">
        <id property="slideId" column="slide_id" jdbcType="BIGINT"/>
        <result property="specialId" column="special_id" jdbcType="INTEGER"/>
        <result property="imageId" column="image_id" jdbcType="INTEGER"/>
        <result property="groupCode" column="group_code" jdbcType="VARCHAR"/>
        <result property="waxCode" column="wax_code" jdbcType="INTEGER"/>
        <result property="animalCode" column="animal_code" jdbcType="VARCHAR"/>
        <result property="genderFlag" column="gender_flag" jdbcType="CHAR"/>
        <result property="organs" column="organs" jdbcType="VARCHAR"/>
        <result property="processFlag" column="process_flag" jdbcType="SMALLINT"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="checkStatus" column="check_status" jdbcType="SMALLINT"/>
        <result property="checkBy" column="check_by" jdbcType="BIGINT"/>
        <result property="checkTime" column="check_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        slide_id
        ,special_id,image_id,
        group_code,wax_code,animal_code,
        gender_flag,organs,process_flag,
        create_by,create_time,update_by,
        update_time,check_status,check_by,check_time
    </sql>

    <select id="selectBySpecialId" parameterType="java.lang.Long" resultType="java.lang.String">
        select tt.topic_name
        from fr_special fsl
                 left join tb_topic tt on fsl.topic_id = tt.topic_id
        where special_id = #{specialId}
    </select>
    <select id="slideListQuery" parameterType="cn.staitech.fr.domain.in.SlideListQueryIn"
            resultType="cn.staitech.fr.domain.out.SlideListQueryOut">
        select ti.thumb_url,
        ti.file_name,
        fs.group_code,
        fs.wax_code,
        fs.animal_code,
        fs.gender_flag,
        fs.organs,
        fs.process_flag,
        su.user_name createUser,
        fs.create_time,
        fs.slide_id
        from fr_slide fs
        left join tb_image ti on fs.image_id = ti.image_id
        left join sys_user su on fs.create_by = su.user_id
        <where>
            fs.special_id = #{specialId}

            <if test="fileName != null and fileName != ''">
                and ti.file_name like concat('%',#{fileName},'%')
            </if>
            <if test="processFlag!= null and processFlag != ''">
                and fs.process_flag = #{processFlag}
            </if>
            <if test="createBy != null and createBy != ''">
                and fs.create_by = #{createBy}
            </if>
            <if test="createTimeParams!=null and createTimeParams.size() > 0">
                <if test="createTimeParams.beginTime != null and createTimeParams.beginTime != ''"><!-- 开始时间检索 -->
                    AND date_format(fs.create_time,'%Y%m%d') &gt;= date_format(#{createTimeParams.beginTime},'%Y%m%d')
                </if>
                <if test="createTimeParams.endTime != null and createTimeParams.endTime != ''"><!-- 结束时间检索 -->
                    AND date_format(fs.create_time,'%Y%m%d') &lt;= date_format(#{createTimeParams.endTime},'%Y%m%d')
                </if>
            </if>
        </where>
        order by fs.create_time desc
    </select>
    
    <select id="getAlgorithmImage" parameterType="map" resultType="cn.staitech.fr.domain.out.AlgorithmImageOut">
		SELECT
			t1.slide_id,
			t1.image_id,
			t2.image_url,
			t2.image_path 
		FROM
			mr_slide t1
			LEFT JOIN tb_image t2 ON t1.image_id = t2.image_id 
		<where>
			<if test="specialId != null">
                AND t1.special_id = #{specialId}
            </if>
            <if test="processFlag != null">
                AND t1.process_flag = #{processFlag}
            </if>
			 <if test="list != null and list.size() >0 ">
	            AND t1.slide_id in
	            <foreach item="list" collection="item" separator="," open="(" close=")" index="">
	                #{item}
	            </foreach>
        	</if>
		</where>
		ORDER BY	t1.create_time ASC
    </select>

    <select id="selectListByWax" resultType="cn.staitech.fr.domain.Slide">
        select fs.slide_id,fs.wax_code
        from fr_slide fs
                 left join fr_special fsl on fs.special_id = fsl.special_id
        where fsl.topic_id= #{topicId}
          and fsl.species_id= #{speciesId}
    </select>
    
     <select id="getVerificationSlideListQuery" parameterType="cn.staitech.fr.domain.in.SplitVerificationQueryIn"   resultType="cn.staitech.fr.domain.out.SplitVerificationOut">
     	SELECT
     	    t2.file_name, 
			t1.*
		FROM
			fr_slide t1 
			LEFT JOIN tb_image t2 on t1.image_id = t2.image_id
		<where>
			<if test="specialId != null">
                AND t1.special_id = #{specialId}
            </if>
            <if test="animalCode != null">
                AND t1.animal_code = #{animalCode}
            </if>
            <if test="fileName != null">
                AND t2.file_name = #{fileName}
            </if>
            <if test="checkType != null and checkType == 1">
                AND t1.check_status = 3
          	 </if>
          	 <if test="categoryName != null and categoryName != ''">
                AND t1.organs like concat('%', #{categoryName}, '%')
            </if>
            <if test="slideIdList != null and slideIdList.size() >0 ">
	            AND t1.slide_id in
	            <foreach item="slideIdList" collection="item" separator="," open="(" close=")" index="">
	                #{item}
	            </foreach>
        	</if>
		</where>
				AND t1.process_flag = 2
				AND t1.check_status > 0 
		ORDER BY	t1.animal_code asc,t1.check_status desc
     </select>     
</mapper>
