<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.fr.mapper.SysDictDataMapper">
	<resultMap id="BaseResultMap" type="cn.staitech.fr.domain.SysDictData">
		<id column="dict_code" jdbcType="BIGINT" property="dictCode" />
		<result column="dict_sort" jdbcType="INTEGER" property="dictSort" />
		<result column="dict_label" jdbcType="VARCHAR" property="dictLabel" />
		<result column="dict_label_en" jdbcType="VARCHAR" property="dictLabelEn" />
		<result column="dict_value" jdbcType="VARCHAR" property="dictValue" />
		<result column="dict_type" jdbcType="VARCHAR" property="dictType" />
		<result column="css_class" jdbcType="VARCHAR" property="cssClass" />
		<result column="list_class" jdbcType="VARCHAR" property="listClass" />
		<result column="is_default" jdbcType="CHAR" property="isDefault" />
		<result column="status" jdbcType="CHAR" property="status" />
		<result column="create_by" jdbcType="BIGINT" property="createBy" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_by" jdbcType="BIGINT" property="updateBy" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="filter" jdbcType="VARCHAR" property="filter" />
		<result column="color" jdbcType="VARCHAR" property="color" />
	</resultMap>
	<sql id="Base_Column_List">
		dict_code, dict_sort, dict_label, dict_label_en, dict_value, dict_type,
		css_class,
		list_class, is_default, status, create_by, create_time, update_by, update_time,
		remark,
		filter, color
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_dict_data
		where dict_code = #{dictCode,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from sys_dict_data
		where dict_code = #{dictCode,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="cn.staitech.fr.domain.SysDictData">
		insert into sys_dict_data (dict_code, dict_sort, dict_label,
		dict_label_en, dict_value, dict_type,
		css_class, list_class, is_default,
		status, create_by, create_time,
		update_by, update_time, remark,
		filter, color
		)
		values (#{dictCode,jdbcType=BIGINT}, #{dictSort,jdbcType=INTEGER},
		#{dictLabel,jdbcType=VARCHAR},
		#{dictLabelEn,jdbcType=VARCHAR}, #{dictValue,jdbcType=VARCHAR}, #{dictType,jdbcType=VARCHAR},
		#{cssClass,jdbcType=VARCHAR}, #{listClass,jdbcType=VARCHAR},
		#{isDefault,jdbcType=CHAR},
		#{status,jdbcType=CHAR}, #{createBy,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP},
		#{updateBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP},
		#{remark,jdbcType=VARCHAR},
		#{filter,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="cn.staitech.fr.domain.SysDictData"
		useGeneratedKeys="true" keyProperty="dictCode">
		insert into sys_dict_data
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="dictCode != null">
				dict_code,
			</if>
			<if test="dictSort != null">
				dict_sort,
			</if>
			<if test="dictLabel != null">
				dict_label,
			</if>
			<if test="dictLabelEn != null">
				dict_label_en,
			</if>
			<if test="dictValue != null">
				dict_value,
			</if>
			<if test="dictType != null">
				dict_type,
			</if>
			<if test="cssClass != null">
				css_class,
			</if>
			<if test="listClass != null">
				list_class,
			</if>
			<if test="isDefault != null">
				is_default,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="filter != null">
				filter,
			</if>

			<if test="color != null">
				color,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="dictCode != null">
				#{dictCode,jdbcType=BIGINT},
			</if>
			<if test="dictSort != null">
				#{dictSort,jdbcType=INTEGER},
			</if>
			<if test="dictLabel != null">
				#{dictLabel,jdbcType=VARCHAR},
			</if>
			<if test="dictLabelEn != null">
				#{dictLabelEn,jdbcType=VARCHAR},
			</if>
			<if test="dictValue != null">
				#{dictValue,jdbcType=VARCHAR},
			</if>
			<if test="dictType != null">
				#{dictType,jdbcType=VARCHAR},
			</if>
			<if test="cssClass != null">
				#{cssClass,jdbcType=VARCHAR},
			</if>
			<if test="listClass != null">
				#{listClass,jdbcType=VARCHAR},
			</if>
			<if test="isDefault != null">
				#{isDefault,jdbcType=CHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=CHAR},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=BIGINT},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="filter != null">
				#{filter,jdbcType=VARCHAR},
			</if>

			<if test="color != null">
				#{color,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.staitech.fr.domain.SysDictData">
		update sys_dict_data
		<set>
			<if test="dictSort != null">
				dict_sort = #{dictSort,jdbcType=INTEGER},
			</if>
			<if test="dictLabel != null">
				dict_label = #{dictLabel,jdbcType=VARCHAR},
			</if>
			<if test="dictLabelEn != null">
				dict_label_en = #{dictLabelEn,jdbcType=VARCHAR},
			</if>
			<if test="dictValue != null">
				dict_value = #{dictValue,jdbcType=VARCHAR},
			</if>
			<if test="dictType != null">
				dict_type = #{dictType,jdbcType=VARCHAR},
			</if>
			<if test="cssClass != null">
				css_class = #{cssClass,jdbcType=VARCHAR},
			</if>
			<if test="listClass != null">
				list_class = #{listClass,jdbcType=VARCHAR},
			</if>
			<if test="isDefault != null">
				is_default = #{isDefault,jdbcType=CHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=CHAR},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=BIGINT},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="filter != null">
				filter = #{filter,jdbcType=VARCHAR},
			</if>

			<if test="color != null">
				color = #{color,jdbcType=VARCHAR},
			</if>
		</set>
		where dict_code = #{dictCode,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.staitech.fr.domain.SysDictData">
		update sys_dict_data
		set dict_sort = #{dictSort,jdbcType=INTEGER},
		dict_label = #{dictLabel,jdbcType=VARCHAR},
		dict_label_en = #{dictLabelEn,jdbcType=VARCHAR},
		dict_value = #{dictValue,jdbcType=VARCHAR},
		dict_type = #{dictType,jdbcType=VARCHAR},
		css_class = #{cssClass,jdbcType=VARCHAR},
		list_class = #{listClass,jdbcType=VARCHAR},
		is_default = #{isDefault,jdbcType=CHAR},
		status = #{status,jdbcType=CHAR},
		create_by = #{createBy,jdbcType=BIGINT},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_by = #{updateBy,jdbcType=BIGINT},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		remark = #{remark,jdbcType=VARCHAR},
		filter = #{filter,jdbcType=VARCHAR},
		color = #{color,jdbcType=VARCHAR}
		where dict_code = #{dictCode,jdbcType=BIGINT}
	</update>

	<select id="getSysDictDataListByParm" parameterType="map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_dict_data t
		<where>
			<if test="dictType != null and dictType != ''">
				and t.dict_type = #{dictType}
			</if>
			<if test="dictLabel != null and dictLabel != ''">
				and t.dict_label = #{dictLabel}
			</if>
			<if test="keyWord != null and keyWord != ''">
				and t.dict_label like concat('%', #{keyWord}, '%')
			</if>
			<if test="dictLabelEn != null and dictLabelEn != ''">
				and t.dict_label_en = #{dictLabelEn}
			</if>
			<if test="filter != null and filter != ''">
				and t.filter = #{filter}
			</if>
			<if test="dictValue != null and dictValue != ''">
				and t.dict_value = #{dictValue}
			</if>

			<if test="status != null and status != ''">
				and t.status = #{status}
			</if>
		</where>
		order by t.dict_sort desc
	</select>

	<select id="getSysDictDataVoListByParm" parameterType="map"
		resultType="cn.staitech.fr.vo.diagnosis.SysDictDataVo">
		select
		<include refid="Base_Column_List" />
		from sys_dict_data t
		<where>
			<if test="dictType != null and dictType != ''">
				and t.dict_type = #{dictType}
			</if>
			<if test="dictLabel != null and dictLabel != ''">
				and t.dict_label = #{dictLabel}
			</if>
			<if test="keyWord != null and keyWord != ''">
				and t.dict_label like concat('%', #{keyWord}, '%')
			</if>
			<if test="dictLabelEn != null and dictLabelEn != ''">
				and t.dict_label_en = #{dictLabelEn}
			</if>
			<if test="filter != null and filter != ''">
				and t.filter = #{filter}
			</if>
			<if test="dictValue != null and dictValue != ''">
				and t.dict_value = #{dictValue}
			</if>

			<if test="status != null and status != ''">
				and t.status = #{status}
			</if>
		</where>
		order by t.dict_sort desc
	</select>

	<select id="getMaxDictSortByParm" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_dict_data t1
		INNER JOIN ( SELECT max( t2.dict_sort )
		maxDictSort FROM `sys_dict_data` t2 WHERE t2.dict_type = #{dictType} )
		t2
		ON t1.dict_sort = t2.maxDictSort
		where t1.dict_type = #{dictType}
	</select>
	
	<select id="getLabelNameByParm"   resultMap="BaseResultMap">
		SELECT
			<!-- GROUP_CONCAT( t.dict_label SEPARATOR ';' ) dict_label -->
			GROUP_CONCAT( DISTINCT(t.dict_label) SEPARATOR ';' ) dict_label
		FROM
			sys_dict_data t
		<where>
			<if test="dictType != null and dictType != ''">
				and t.dict_type = #{dictType}
			</if>
			<if test="tagId != null">
				and t.dict_value = #{tagId}
			</if>
			<if test="null != tagIdList and tagIdList.length > 0">
				and t.dict_value in
			    <foreach collection="tagIdList" item="item" index="index"    separator="," open="(" close=")">
			        #{item}
			    </foreach>
			</if>
			<if test="filter != null and filter != ''">
				and t.filter = #{filter}
			</if>
		</where>
	</select>
</mapper>