<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.fr.mapper.TopicMapper">
    <resultMap type="cn.staitech.fr.domain.Topic" id="SpecialResult">
        <result property="topicId" column="topic_id"/>
        <result property="topicName" column="topic_name"/>
        <result property="organizationId" column="organization_id"/>
        <result property="projectTypeId" column="project_type_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

</mapper>