<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.fr.mapper.WaxBlockInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.staitech.fr.domain.WaxBlockInfo">
        <id column="id" property="id" />
        <result column="number_id" property="numberId" />
        <result column="wax_code" property="waxCode" />
        <result column="topic_id" property="topicId" />
        <result column="topic_name" property="topicName" />
        <result column="species_id" property="speciesId" />
        <result column="species_name" property="speciesName" />
        <result column="organ_name" property="organName" />
        <result column="organ_name_en" property="organNameEn" />
        <result column="organ_number" property="organNumber" />
        <result column="gender_flag" property="genderFlag" />
        <result column="del_flag" property="delFlag" />
        <result column="organization_id" property="organizationId" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, wax_id, wax_code, topic_id, topic_name, species_id, species_name, organ_name, organ_name_en, organ_number, gender_flag, del_flag, organization_id, create_by, create_time, update_by, update_time
    </sql>
    <select id="getOrganName" resultType="java.lang.String">
        select group_concat(organ_name)
        from fr_wax_block_info
        where topic_id = #{topicId}
          and species_id = #{speciesId}
          and wax_code = #{waxCode}
          and del_flag = '0'

    </select>
</mapper>
