<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.fr.mapper.AnnotationMapper">

    <resultMap id="BaseResultMap" type="cn.staitech.fr.domain.Annotation">
            <result property="annotationId" column="contour_id" jdbcType="BIGINT"/>
            <result property="area" column="area" jdbcType="VARCHAR"/>
            <result property="perimeter" column="perimeter" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
            <result property="locationType" column="location_type" jdbcType="VARCHAR"/>
            <result property="annotationType" column="annotation_type" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="DATE"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="DATE"/>
            <result property="slideId" column="slide_id" jdbcType="BIGINT"/>
            <result property="jsonId" column="json_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        contour_id,area,perimeter,
        description,category_id,annotation,
        location_type,annotation_type,create_by,
        create_time,update_by,update_time,
        slide_id,json_id
    </sql>

    <select id="stClosestPoint" parameterType="cn.staitech.fr.domain.Annotation" resultMap="BaseResultMap">
        SELECT
            st_asgeojson ( st_closestpoint ( st_geomfromgeojson ( #{contourOne} ), st_geomfromgeojson ( #{contourTwo} ) ) ) AS contourOne,
            st_asgeojson ( st_closestpoint ( st_geomfromgeojson ( #{contourTwo} ), st_geomfromgeojson ( #{contourOne} ) ) ) AS contourTwo
    </select>


    <select id="stDistance" parameterType="cn.staitech.fr.domain.Annotation" resultMap="BaseResultMap">
        SELECT
            ST_Distance ( st_geomfromgeojson ( #{contourOne} ), st_geomfromgeojson ( #{contourTwo} ) ) AS minDistance
    </select>

    <select id="avgDistance" parameterType="cn.staitech.fr.domain.Annotation" resultMap="BaseResultMap">
        WITH
            poly1_points AS (
                SELECT (ST_DumpPoints(ST_GeomFromGeoJSON(#{contourOne}))).geom AS geom
            ),
            poly2_points AS (
        SELECT (ST_DumpPoints(ST_GeomFromGeoJSON(#{contourTwo}))).geom AS geom
                ),
            point_distances AS (
        SELECT AVG(ST_Distance(p1.geom, p2.geom)) AS meanDistance
        FROM poly1_points p1
            CROSS JOIN poly2_points p2
            )
        SELECT * FROM point_distances;
    </select>

    <select id="selectByIds" parameterType="cn.staitech.fr.domain.Annotation"
            resultMap="BaseResultMap">
        select annotation_id,
               area,
               perimeter,
               description,
               category_id,
               location_type,
               annotation_type,
               create_by,
               create_time,
               update_by,
               update_time,
               slide_id,
               id,
               contour_type,
               ST_AsGeoJSON(contour) AS contour
        from fr_annotation_${sequenceNumber}
        where annotation_id = #{annotationId}
    </select>


    <select id="selectInList" parameterType="cn.staitech.fr.vo.annotation.in.MarkingMerge"
            resultMap="BaseResultMap">
        select
        annotation_id,
        area,
        perimeter,
        description,
        category_id,
        location_type,
        annotation_type,
        create_by,
        create_time,
        update_by,
        update_time,
        project_id,
        slide_id,
        id,
        ST_AsGeoJSON(contour40000) AS contour
        from fr_annotation
        <where>
            annotation_id in
            <foreach collection="markingIdList" item="annotationId" index="index" open="(" separator="," close=")">
                #{annotationId,jdbcType=BIGINT}
            </foreach>
        </where>
    </select>

    <select id="mergeContour" parameterType="cn.staitech.fr.domain.Annotation"
            resultMap="BaseResultMap">
        <if test="operation != null and operation == 'UNION'">
            select
            ST_AsGeoJSON(ST_Union((select contour40000 from fr_annotation where annotation_id =
            #{annotationId}),st_geomfromgeojson(#{contour}))) as contour
        </if>
        <if test="operation != null and operation == 'DIFFERENCE'">
            select
            ST_AsGeoJSON(ST_Difference((select contour40000 from fr_annotation where annotation_id =
            #{annotationId}),st_geomfromgeojson(#{contour}))) as contour
        </if>
    </select>

    <select id="selectContourType" parameterType="cn.staitech.fr.domain.Annotation"
            resultMap="BaseResultMap">
        SELECT GeometryType(st_geomfromgeojson(#{contour})) as location_type
    </select>

    <select id="getArea" parameterType="cn.staitech.fr.domain.Annotation"
            resultMap="BaseResultMap">
        select ST_Perimeter(st_geomfromgeojson(#{contour})) as perimeter,
               ST_Area(st_geomfromgeojson(#{contour}))      as area
    </select>

    <select id="selectListBy" parameterType="cn.staitech.fr.domain.Annotation"
            resultMap="BaseResultMap">
        select
        annotation_id,
        area,
        perimeter,
        description,
        category_id,
        location_type,
        annotation_type,
        create_by,
        create_time,
        update_by,
        update_time,
        slide_id,
        id,
        contour_type,
        ST_AsGeoJSON(contour${magnification}) as contour,
        single_slide_id,
        single
        from fr_annotation
        <where>
            contour_type != 1
            <if test="slideId != null">
                AND slide_id = #{slideId}
                AND single_slide_id is null
                <if test="categoryIdLists != null and categoryIdLists.size() > 0">
                    AND category_id not in
                    <foreach collection="categoryIdLists" item="item" index="index" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
            </if>
            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>
            <if test="singleSlideId != null">
                AND single_slide_id = #{singleSlideId}
            </if>
            <if test="slideIdList != null and slideIdList.size() > 0">
                AND slide_id in
                <foreach collection="slideIdList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="filigreeContour != null and filigreeContour == true">
                AND contour_type = 3
                <if test="categoryIdLists != null and categoryIdLists.size() > 0">
                    AND category_id not in
                    <foreach collection="categoryIdLists" item="item" index="index" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
            </if>
            <if test="filigreeContour != null and filigreeContour == false">
                AND contour_type != 3
            </if>
            <if test="contourType != null">
                AND contour_type = #{contourType}
            </if>
            <if test="contour != null">
                AND ST_Intersects(st_geomfromgeojson(#{contour}),contour${magnification})
            </if>
            <if test="categoryIdList != null and categoryIdList.size() > 0">
                AND category_id not in
                <foreach collection="categoryIdList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>




</mapper>
