<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.fr.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="cn.staitech.fr.domain.Category">
            <id property="categoryId" column="category_id" jdbcType="BIGINT"/>
            <result property="species" column="species" jdbcType="VARCHAR"/>
            <result property="organName" column="organ_name" jdbcType="VARCHAR"/>
            <result property="categoryFullName" column="category_full_name" jdbcType="VARCHAR"/>
            <result property="categoryAbbreviation" column="category_abbreviation" jdbcType="VARCHAR"/>
            <result property="chromaticValue" column="chromatic_value" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        category_id,species,organ_name,
        category_full_name,category_abbreviation,chromatic_value,
        create_time,create_by
    </sql>
</mapper>
