<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.fr.mapper.ImageMapper">
    <resultMap id="BaseResultMap" type="cn.staitech.fr.domain.Image">
        <result column="image_id" jdbcType="BIGINT" property="imageId"/>
        <result column="file_name" jdbcType="VARCHAR" property="fileName"/>
        <result column="image_name" jdbcType="VARCHAR" property="imageName"/>
        <result column="image_path" jdbcType="VARCHAR" property="imagePath"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
        <result column="thumb_url" jdbcType="VARCHAR" property="thumbUrl"/>
        <result column="macro_url" jdbcType="VARCHAR" property="macroUrl"/>
        <result column="label_url" jdbcType="VARCHAR" property="labelUrl"/>
        <result column="cache_url" jdbcType="VARCHAR" property="cacheUrl"/>
        <result column="multiple" jdbcType="VARCHAR" property="multiple"/>
        <result column="format" jdbcType="VARCHAR" property="format"/>
        <result column="width" jdbcType="VARCHAR" property="width"/>
        <result column="height" jdbcType="VARCHAR" property="height"/>
        <result column="depth" jdbcType="VARCHAR" property="depth"/>
        <result column="size" jdbcType="VARCHAR" property="size"/>
        <result column="global_size" jdbcType="VARCHAR" property="globalSize"/>
        <result column="resolving_power" jdbcType="VARCHAR" property="resolvingPower"/>
        <result column="tile_count_list" jdbcType="VARCHAR" property="tileCountList"/>
        <result column="level_count" jdbcType="TINYINT" property="levelCount"/>
        <result column="chunk_total" jdbcType="SMALLINT" property="chunkTotal"/>
        <result column="md5" jdbcType="VARCHAR" property="md5"/>
        <result column="resolution_x" jdbcType="VARCHAR" property="resolutionX"/>
        <result column="resolution_y" jdbcType="VARCHAR" property="resolutionY"/>
        <result column="source_lens" jdbcType="INTEGER" property="sourceLens"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="image_code" jdbcType="VARCHAR" property="imageCode"/>
        <result column="topic_id" jdbcType="BIGINT" property="topicId"/>
        <result column="topic_name" jdbcType="VARCHAR" property="topicName"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="host_id" jdbcType="TINYINT" property="hostId"/>
        <result column="organization_id" jdbcType="BIGINT" property="organizationId"/>
        <result column="round_id" jdbcType="BIGINT" property="roundId"/>
        <result column="biz_type" jdbcType="TINYINT" property="bizType"/>
        <result column="source" jdbcType="TINYINT" property="source"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="topic_id" jdbcType="BIGINT" property="topicId"/>
        <result column="topic_name" jdbcType="VARCHAR" property="topicName"/>
        <result column="animal_code" jdbcType="VARCHAR" property="animalCode"/>
        <result column="wax_code" jdbcType="VARCHAR" property="waxCode"/>
        <result column="group_code" jdbcType="VARCHAR" property="groupCode"/>
        <result column="sex_flag" jdbcType="VARCHAR" property="sexFlag"/>
        <result column="analyze_status" jdbcType="TINYINT" property="analyzeStatus"/>
    </resultMap>

    <select id="pageImage" resultType="cn.staitech.fr.domain.Image">
        select i.*, o.organization_name
        from tb_image i
                 left join sys_organization o on i.organization_id = o.organization_id
        <where>
            <if test="params.imageName != null and params.imageName != ''">
                and i.image_name like concat('%',#{params.imageName},'%')
            </if>
            <if test="params.topicName != null and params.topicName != ''">
                and i.topic_name like concat('%',#{params.topicName},'%')
            </if>
            <if test="params.organizationId != null">
                and i.organization_id = #{params.organizationId}
            </if>
            <if test="params.status != null">
                and i.status = #{params.status}
            </if>
            <if test="params.createTimeParams != null">
                <if test="params.createTimeParams.beginTime != null ">
                    <!-- 开始时间检索 -->
                    AND date_format(i.create_time,'%Y%m%d') &gt;= date_format(#{params.createTimeParams.beginTime},'%Y%m%d')
                </if>
                <if test="params.createTimeParams.endTime != null ">
                    <!-- 结束时间检索 -->
                    AND date_format(i.create_time,'%Y%m%d') &lt;= date_format(#{params.createTimeParams.endTime},'%Y%m%d')
                </if>
            </if>
        </where>
        order by i.image_id desc
    </select>

    <select id="choiceImageList" parameterType="cn.staitech.fr.vo.project.ChoiceImagePageReq"
            resultType="cn.staitech.fr.vo.project.ImageVO">
        select distinct i.image_id,
        i.file_name,
        i.image_name,
        i.image_path,
        i.image_url,
        i.thumb_url,
        i.macro_url,
        i.label_url,
        i.cache_url,
        i.`size`,
        i.global_size,
        i.resolving_power,
        i.tile_count_list,
        i.level_count,
        i.chunk_total,
        i.md5,
        i.resolution_x,
        i.resolution_y,
        i.source_lens,
        i.create_by,
        i.create_time,
        i.update_by,
        i.update_time,
        i.image_code,
        i.topic_id,
        i.topic_name,
        i.`status`,
        i.host_id,
        i.organization_id,
        so.organization_name,
        i.round_id,
        i.biz_type,
        i.`source`,
        if(fs.special_id=#{params.projectId},1,0) choiceState
        from tb_image i
        left join fr_slide fs
            on i.image_id = fs.image_id
            and fs.special_id=#{params.projectId}
            and fs.del_flag='0'
        left join fr_special fsl
            on fsl.topic_id = i.topic_id
        left join sys_organization so
            on so.organization_id = i.organization_id
        <where>
            and fsl.special_id = #{params.projectId}
            and i.status = 4
            <!-- 文件名解析状态（0失败1成功） -->
            and i.analyze_status = 1
            <if test="params.orgId != null">
                <!-- 组织机构编号 -->
                and i.organization_id = #{params.orgId}
            </if>

            <if test="params.imageName != null and params.imageName != ''">
                <!-- 图像名称 -->
                and i.image_name like concat('%', #{params.imageName}, '%')
            </if>

            <if test="params.choiceState != null and params.choiceState==0">
                and (fs.slide_id is null  or fs.special_id != #{params.projectId})
            </if>
            <if test="params.choiceState != null and params.choiceState==1">
                and fs.special_id = #{params.projectId}
            </if>
        </where>
        order by i.image_id desc
    </select>
    <sql id="selectImageVo">
        select image_id,
               file_name,
               image_name,
               image_path,
               image_url,
               thumb_url,
               macro_url,
               label_url,
               cache_url,
               multiple,
               format,
               width,
               height,
               `depth`,
               `size`,
               global_size,
               resolving_power,
               tile_count_list,
               level_count,
               chunk_total,
               md5,
               resolution_x,
               resolution_y,
               source_lens,
               create_by,
               create_time,
               update_by,
               update_time,
               image_code,
               topic_id,
               topic_name,
               `status`,
               host_id,
               organization_id,
               round_id,
               biz_type,
               `source`,
               folder_id
        from tb_image
    </sql>
    <!--查询单个图像信息-->
 <!--   <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <include refid="selectImageVo"/>
        <where>
            <if test="imageId != null and imageId != ''">
                and image_id = #{imageId}
            </if>
        </where>
    </select>-->
</mapper>
