<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.fr.dao.JsonTaskDao">

    <resultMap type="cn.staitech.fr.domain.JsonTask" id="JsonTaskMap">
        <result property="taskId" column="task_id" jdbcType="INTEGER"/>
        <result property="slideId" column="slide_id" jdbcType="INTEGER"/>
        <result property="specialId" column="special_id" jdbcType="INTEGER"/>
        <result property="imageId" column="image_id" jdbcType="INTEGER"/>
        <result property="singleId" column="single_id" jdbcType="INTEGER"/>
        <result property="organizationId" column="organization_id" jdbcType="INTEGER"/>
        <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
        <result property="algorithmCode" column="algorithm_code" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="data" column="data" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="times" column="times" jdbcType="INTEGER"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="taskId" useGeneratedKeys="true">
        insert into patsaas.fr_json_task(slide_id, special_id, image_id, single_id, organization_id, category_id, algorithm_uuid, code, json_path, status, times, start_time, end_time, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.slideId}, #{entity.specialId}, #{entity.imageId}, #{entity.singleId}, #{entity.organizationId}, #{entity.categoryId}, #{entity.algorithmUuid}, #{entity.code}, #{entity.jsonPath}, #{entity.status}, #{entity.times}, #{entity.startTime}, #{entity.endTime}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="taskId" useGeneratedKeys="true">
        insert into patsaas.fr_json_task(slide_id, special_id, image_id, single_id, organization_id, category_id, algorithm_uuid, code, json_path, status, times, start_time, end_time, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.slideId}, #{entity.specialId}, #{entity.imageId}, #{entity.singleId}, #{entity.organizationId}, #{entity.categoryId}, #{entity.algorithmUuid}, #{entity.code}, #{entity.jsonPath}, #{entity.status}, #{entity.times}, #{entity.startTime}, #{entity.endTime}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
        on duplicate key update
         slide_id = values(slide_id) , special_id = values(special_id) , image_id = values(image_id) , single_id = values(single_id) , organization_id = values(organization_id) , category_id = values(category_id) , algorithm_uuid = values(algorithm_uuid) , code = values(code) , json_path = values(json_path) , status = values(status) , times = values(times) , start_time = values(start_time) , end_time = values(end_time) , create_time = values(create_time) , update_time = values(update_time)     </insert>

</mapper>

