<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.fr.mapper.SlideMapper">

    <resultMap id="BaseResultMap" type="cn.staitech.fr.domain.Slide">
        <id property="slideId" column="slide_id" jdbcType="BIGINT"/>
        <result property="specialId" column="special_id" jdbcType="INTEGER"/>
        <result property="imageId" column="image_id" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        slide_id,special_id,image_id,
        create_by,create_time,update_by,
        update_time
    </sql>

    <select id="selectBySpecialId" parameterType="java.lang.Long" resultType="java.lang.String">
        select tt.topic_name
        from fr_special fsl
                 left join tb_topic tt on fsl.topic_id = tt.topic_id
        where special_id = #{specialId}
    </select>
    <select id="slideListQuery" parameterType="cn.staitech.fr.domain.in.SlideListQueryIn"
            resultType="cn.staitech.fr.domain.out.SlideListQueryOut">
        select ti.thumb_url,
        ti.image_name fileName,
        ti.group_code,
        ti.wax_code,
        ti.animal_code,
        ti.sex_flag gender_flag,
        su.user_name createUser,
        fs.create_time,
        fs.slide_id,
        ti.analyze_status
        from fr_slide fs
        left join tb_image ti on fs.image_id = ti.image_id
        left join sys_user su on fs.create_by = su.user_id
        <where>
            fs.special_id = #{specialId}
            and fs.del_flag='0'
            <if test="fileName != null and fileName != ''">
                and ti.image_name like concat('%',#{fileName},'%')
            </if>
            <if test="analyzeStatus!= null and analyzeStatus != ''">
                and ti.analyze_status = #{analyzeStatus}
            </if>
            <if test="createBy != null and createBy != ''">
                and su.user_name like concat('%',#{createBy},'%')
            </if>
            <if test="createTimeParams!=null and createTimeParams.size() > 0">
                <if test="createTimeParams.beginTime != null "><!-- 开始时间检索 -->
                    AND date_format(fs.create_time,'%Y%m%d') &gt;= date_format(#{createTimeParams.beginTime},'%Y%m%d')
                </if>
                <if test="createTimeParams.endTime != null "><!-- 结束时间检索 -->
                    AND date_format(fs.create_time,'%Y%m%d') &lt;= date_format(#{createTimeParams.endTime},'%Y%m%d')
                </if>
            </if>
        </where>
        order by fs.create_time desc
    </select>
    
    <select id="getAlgorithmImage" parameterType="map" resultType="cn.staitech.fr.domain.out.AlgorithmImageOut">
		SELECT
			t1.slide_id,
			t1.image_id,
			t2.image_url,
			t2.image_path 
		FROM
			fr_slide t1
			LEFT JOIN tb_image t2 ON t1.image_id = t2.image_id 
		<where>
			<if test="specialId != null">
                AND t1.special_id = #{specialId}
            </if>
            <if test="analyzeStatus != null">
                AND t2.analyze_status = #{analyzeStatus}
            </if>
			 <if test="list != null and list.size() >0 ">
	            AND t1.slide_id in
	            <foreach item="item" collection="list" separator="," open="(" close=")" index="">
	                #{item}
	            </foreach>
        	</if>
        	and t1.del_flag = '0'
		</where>
		ORDER BY	t1.create_time ASC
    </select>

    <select id="selectListByWax" resultType="cn.staitech.fr.domain.Slide">
        select fs.slide_id,t2.wax_code
        from fr_slide fs
          left join fr_special fsl on fs.special_id = fsl.special_id
          left join tb_image t2 on fs.image_id = t2.image_id 
        where fsl.topic_id= #{topicId}
          and fsl.species_id= #{speciesId}
          and fsl.del_flag='0'
    </select>
    

    <select id="pageImageCsvListVOBy" parameterType="long"
            resultType="cn.staitech.fr.domain.out.SlideSelectBy">
        select 
        s.slide_id,
        s.special_id,
        s.image_id,
        m.group_code,
        m.wax_code,
        m.animal_code,
        m.sex_flag gender_flag,
        s.del_flag,
        s.create_by,
        s.create_time,
        s.update_by,
        s.update_time,
        m.image_id,
        m.thumb_url,
        m.image_path,
        m.format,
        m.width,
        m.height,
        m.resolution_x,
        m.resolution_y,
        m.source_lens,
        m.image_path,
        m.thumb_url,
        m.image_name
        from fr_slide s
        left join tb_image m on m.image_id = s.image_id
        <where>
            <if test="slideId != null">
                s.slide_id = #{slideId, jdbcType=NUMERIC}
            </if>
        </where>
    </select>

</mapper>
