<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.fr.mapper.SlideMapper">

    <resultMap id="BaseResultMap" type="cn.staitech.fr.domain.Slide">
        <id property="slideId" column="slide_id" jdbcType="BIGINT"/>
        <result property="projectId" column="special_id" jdbcType="BIGINT"/>
        <result property="imageId" column="image_id" jdbcType="BIGINT"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="SlidePageVoMap" type="cn.staitech.fr.vo.project.slide.SlidePageVo">
        <id property="slideId" column="slide_id"/>
        <result property="thumbUrl" column="thumb_url"/>
        <result property="fileName" column="image_name"/>
        <result property="groupCode" column="group_code"/>
        <result property="waxCode" column="wax_code"/>
        <result property="animalCode" column="animal_code"/>
        <result property="genderFlag" column="sex_flag"/>
        <result property="createUser" column="user_name"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <result property="imagePath" column="image_path"/>
        <result property="format" column="format"/>
        <result property="width" column="width"/>
        <result property="height" column="height"/>
        <result property="resolutionX" column="resolution_x"/>
        <result property="resolutionY" column="resolution_y"/>
        <result property="sourceLens" column="source_lens"/>
        <result property="imageId" column="image_id"/>
        <result property="imageName" column="image_name"/>
        <result property="isView" column="is_view"/>
        <result property="viewers" column="viewers"
                typeHandler="cn.staitech.fr.mapper.handler.ListLongTypeHandler"
                javaType="java.util.List"/>
    </resultMap>

    <resultMap id="SlideDetailVoMap" type="cn.staitech.fr.vo.project.slide.SlideDetailVo">
        <!-- 主键 -->
        <id property="slideId" column="slide_id"/>

        <!-- 基础字段 -->
        <result property="description" column="description"/>
        <result property="imageId" column="image_id"/>
        <result property="imageName" column="image_name"/>
        <result property="groupName" column="group_code"/>
        <result property="gender" column="sex_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="topicId" column="topic_id"/>
        <result property="topicName" column="topic_name"/>
        <result property="status" column="status"/>
        <result property="deleteFlag" column="del_flag"/>
        <result property="imagePath" column="image_path"/>
        <result property="thumbUrl" column="thumb_url"/>
        <result property="format" column="format"/>
        <result property="width" column="width"/>
        <result property="height" column="height"/>
        <result property="resolutionX" column="resolution_x"/>
        <result property="resolutionY" column="resolution_y"/>
        <result property="sourceLens" column="source_lens"/>

        <!-- JSON 字段：需要指定 JacksonTypeHandler 解析为 List<Long> -->
        <result property="viewers" column="viewers"
                typeHandler="cn.staitech.fr.mapper.handler.ListLongTypeHandler"
                javaType="java.util.List"/>
    </resultMap>

    <select id="selectBySpecialId" parameterType="java.lang.Long" resultType="java.lang.String">
        select tt.topic_name
        from fr_special fsl
                 left join tb_topic tt on fsl.topic_id = tt.topic_id
        where special_id = #{specialId}
    </select>

    <sql id="slideList">
        select ti.thumb_url,
        ti.image_name fileName,
        ti.image_path,
        ti.format,
        ti.width,
        ti.height,
        ti.resolution_x,
        ti.resolution_y,
        ti.source_lens,
        ti.image_id,
        ti.image_name,
        ti.group_code,
        ti.wax_code,
        ti.animal_code,
        ti.sex_flag,
        ti.topic_name,
        su.nick_name as user_name,
        fs.create_time,
        fs.description,
        fs.slide_id,
        ${params.currentUserId} as is_view,
        fs.viewers
        from fr_slide fs
        left join tb_image ti on fs.image_id = ti.image_id
        left join sys_user su on fs.create_by = su.user_id
        <where>
            fs.special_id = #{params.projectId}
            and fs.del_flag='0'
            <if test="params.fileName != null and params.fileName != ''">
                and ti.image_name like concat('%',#{params.fileName},'%')
            </if>
            <if test="params.animalCode != null and params.animalCode != ''">
                and ti.animal_code like concat('%',#{params.animalCode},'%')
            </if>
            <if test="params.description != null and params.description != ''">
                and fs.description like concat('%',#{params.description},'%')
            </if>
            <if test="params.genderFlag != null and params.genderFlag != ''">
                and ti.sex_flag = #{params.genderFlag}
            </if>
            <if test="params.isView != null">
                <if test="params.isView">
                    and ${params.currentUserId}
                </if>
                <if test="!params.isView">
                    and not ${params.currentUserId}
                </if>
            </if>
            <if test="params.groupCode != null and params.groupCode != ''">
                and ti.group_code = #{params.groupCode}
            </if>
            <if test="params.waxCode != null and params.waxCode != ''">
                <!--  and ti.wax_code like concat('%',#{waxCode},'%') -->
                and ti.wax_code = #{params.waxCode}
            </if>
            <if test="params.createBy != null and params.createBy != ''">
                and su.nick_name like concat('%',#{params.createBy},'%')
            </if>
            <if test="params.createTimeParams!=null">
                <if test="params.createTimeParams.beginTime != null "><!-- 开始时间检索 -->
                    AND date_format(fs.create_time,'%Y%m%d') &gt;=
                    date_format(#{params.createTimeParams.beginTime},'%Y%m%d')
                </if>
                <if test="params.createTimeParams.endTime != null "><!-- 结束时间检索 -->
                    AND date_format(fs.create_time,'%Y%m%d') &lt;=
                    date_format(#{params.createTimeParams.endTime},'%Y%m%d')
                </if>
            </if>
        </where>
        <if test="params.sortField != null and params.sortField!=''">
            order by ${params.sortField} ${params.sortType}
        </if>
        <!-- 阅片列表排序规则：
         1、根据切片编号由小到大排序，切片编号前几位是项目号是一样，
         2、之后是动物号，动物号前几位相同，从不同的数字开始由小到大排序。
         3、如果是相同动物号的图片则根据蜡块编号由小到大再排 -->
        <if test="params.sortField == null or params.sortField==''">
            order by ti.animal_code asc,ti.wax_code_order asc,ti.group_code asc,ti.sex_flag asc
        </if>
    </sql>

    <select id="slideListQuery" parameterType="cn.staitech.fr.vo.project.slide.SlidePageReq"
            resultMap="SlidePageVoMap">
        <include refid="slideList"/>
    </select>

    <select id="page" parameterType="cn.staitech.fr.vo.project.slide.SlidePageReq"
            resultMap="SlidePageVoMap">
        <include refid="slideList"/>
    </select>

    <select id="slideQueryBy" parameterType="long"
            resultType="cn.staitech.fr.vo.project.slide.SlidePageVo">
        select ti.thumb_url,
               ti.image_name fileName,
               ti.group_code,
               ti.wax_code,
               ti.animal_code,
               ti.sex_flag   gender_flag,
               su.user_name  createUser,
               fs.create_time,
               fs.description,
               fs.slide_id
        from fr_slide fs
                 left join tb_image ti on fs.image_id = ti.image_id
                 left join sys_user su on fs.create_by = su.user_id
        where fs.slide_id = #{slideId}
    </select>


    <select id="selectListByWax" resultType="cn.staitech.fr.domain.Slide">
        select fs.slide_id, t2.wax_code
        from fr_slide fs
                 left join fr_special fsl on fs.special_id = fsl.special_id
                 left join tb_image t2 on fs.image_id = t2.image_id
        where fsl.topic_id = #{topicId}
          and fsl.species_id = #{speciesId}
          and fsl.del_flag = '0'
    </select>


    <select id="getSlideInfo" parameterType="long"
            resultMap="SlideDetailVoMap">
        select
        s.slide_id,
        s.special_id,
        s.image_id,
        m.status,
        m.group_code,
        m.wax_code,
        m.animal_code,
        m.sex_flag,
        s.description,
        s.del_flag,
        s.create_by,
        s.create_time,
        s.update_by,
        s.update_time,
        m.image_id,
        m.thumb_url,
        m.image_path,
        m.format,
        m.width,
        m.height,
        m.resolution_x,
        m.resolution_y,
        m.source_lens,
        m.image_path,
        m.thumb_url,
        m.image_name,
        m.topic_id,
        m.topic_name,
        s.viewers
        from fr_slide s
        left join tb_image m on m.image_id = s.image_id
        <where>
            <if test="slideId != null">
                s.slide_id = #{slideId, jdbcType=NUMERIC}
            </if>
        </where>
    </select>
    <select id="selectWaxCodes" resultType="java.lang.String">
        SELECT DISTINCT b.wax_code
        FROM fr_slide a
                 JOIN tb_image b ON a.image_id = b.image_id
        WHERE a.special_id = #{projectId}
          AND a.del_flag = '0'
        ORDER BY b.wax_code_order asc, b.wax_code asc
    </select>

    <select id="getSlideSelectList" resultType="cn.staitech.fr.vo.project.slide.SlidePageVo">
        select ti.thumb_url,
        ti.image_name fileName,
        ti.image_path,
        ti.format,
        ti.width,
        ti.height,
        ti.resolution_x,
        ti.resolution_y,
        ti.source_lens,
        ti.image_id,
        ti.image_name,
        ti.group_code,
        ti.wax_code,
        ti.animal_code,
        ti.sex_flag,
        ti.topic_name,
        fs.create_time,
        fs.description,
        fs.slide_id,
        fs.viewers
        from fr_slide fs
        left join tb_image ti on fs.image_id = ti.image_id
        <where>
            fs.special_id = #{projectId}
            and fs.del_flag='0'
        </where>
    </select>
    <select id="isAiSlideFinished" resultType="java.lang.Boolean">
        select t.*
        from (select case
                         WHEN
                             (select count(fss.single_id)
                              from fr_slide fs
                                       left join fr_single_slide fss on fss.slide_id = fs.slide_id
                              where fs.special_id = #{projectId}
                                and fs.del_flag = '0'
                                and fss.single_id is null) = 0 then 'false'
                         WHEN
                             (select count(fss.single_id)
                              from fr_slide fs
                                       left join fr_single_slide fss on fss.slide_id = fs.slide_id
                              where fs.special_id = #{projectId}
                                and fs.del_flag = '0'
                                and (fss.forecast_status in ('0', '3') or fss.ai_status_fine in (0, 3))) > 0
                             then 'false'

                         else 'true' end as aa) t
    </select>
    <select id="getOrganCode" resultType="cn.staitech.fr.vo.project.slide.SlideOrganTagVo">
        select distinct tg.organ_tag_id, tg.organ_tag_code, tg.organ_name
        from tb_organ_tag tg
                 left join fr_single_slide fss on fss.category_id = tg.organ_tag_id
                 left join fr_slide fs on fs.slide_id = fss.slide_id
        where fs.del_flag = '0'
          and fs.special_id = #{projectId}
          and tg.organization_id = #{organizationId}
    </select>
    <select id="selectAiAnalysis" resultType="cn.staitech.fr.vo.project.AiAnalysisBO">
        SELECT a.slide_id          AS slideId,
               a.image_id          AS imageId,
               b.image_path        AS imagePath,
               b.file_name         AS fileName,
               d.topic_name        AS topicName,
               e.organization_id   AS organizationId,
               e.organization_name AS organizationName,
               c.species_id        AS speciesId
        FROM fr_slide a
                 LEFT JOIN tb_image b ON a.image_id = b.image_id
                 LEFT JOIN fr_special c ON a.special_id = c.special_id
                 LEFT JOIN tb_topic d ON c.topic_id = d.topic_id
                 LEFT JOIN sys_organization e ON c.organization_id = e.organization_id
        WHERE a.del_flag = '0'
          AND a.ai_status = 0
          AND a.special_id = #{projectId}
    </select>
    <select id="exportAiInfo" resultType="cn.staitech.fr.vo.project.slide.ExportAiInfoVo">
        select
        frs.topic_name,frs.special_name,ti.image_name,tg.organ_name,af.quantitative_indicators,af.unit,af.results,af.forecast_range
        from fr_slide fs
        left join tb_image ti on fs.image_id = ti.image_id
        left join fr_special frs on fs.special_id=frs.special_id
        left join fr_single_slide fss on fs.slide_id=fss.slide_id
        left join tb_organ_tag tg on fss.category_id=tg.organ_tag_id
        left join fr_ai_forecast af on af.single_slide_id=fss.single_id
        where fs.special_id=#{projectId}
        <if test="singleId != null">
            and fss.single_id=#{singleId}
        </if>
        <if test="categoryId != null">
            and fss.category_id=#{categoryId}
        </if>
        <if test="slideIds != null">

        </if>
    </select>
    <select id="getAiInfoList" resultType="cn.staitech.fr.vo.project.slide.AiInfoListVO">
        select
        af.structure_ids,fss.category_id,tg.organ_name,af.quantitative_indicators,af.unit,af.results,af.forecast_range
        from fr_single_slide fss
        left join fr_ai_forecast af on af.single_slide_id=fss.single_id
        left join fr_slide fs on fs.slide_id=fss.slide_id
        left join tb_image ti on fs.image_id = ti.image_id
        left join fr_special frs on fs.special_id=frs.special_id
        left join tb_organ_tag tg on fss.category_id=tg.organ_tag_id
        where fs.del_flag='0'
        <if test="projectId != null">
            and fs.special_id=#{projectId}
        </if>
        <if test="slideId != null">
            and fs.slide_id=#{slideId}
        </if>
        <if test="singleSlideId != null">
            and af.single_slide_id=#{singleSlideId}
        </if>
    </select>
    <select id="selectOrganCheckConfirmBO" resultType="cn.staitech.fr.vo.project.OrganCheckConfirmBO">
        SELECT a.image_id          AS imageId,
               b.image_path        AS imagePath,
               a.slide_id          AS slideId,
               f.single_id         AS singleId,
               f.category_id       AS categoryId,
               e.organization_id   AS organizationId,
               e.organization_name AS organizationName,
               d.topic_name        AS topicName,
               c.species_id        AS speciesId
        FROM fr_slide a
                 LEFT JOIN tb_image b ON a.image_id = b.image_id
                 LEFT JOIN fr_special c ON a.special_id = c.special_id
                 LEFT JOIN tb_topic d ON c.topic_id = d.topic_id
                 LEFT JOIN sys_organization e ON c.organization_id = e.organization_id
                 LEFT JOIN fr_single_slide f ON a.slide_id = f.slide_id
        WHERE a.slide_id = #{slideId}
    </select>
    <select id="pageNew" resultType="cn.staitech.fr.vo.project.slide.SlidePageVo"
            parameterType="cn.staitech.fr.vo.project.slide.SlidePageReq">
        SELECT
        b.slide_id AS slideId,
        c.thumb_url AS thumbUrl,
        c.image_name AS fileName,
        c.image_name AS imageName,
        c.animal_code AS animalCode,
        c.wax_code AS waxCode,
        c.group_code AS groupCode,
        c.sex_flag AS genderFlag,
        a.viewStatus AS viewStatus,
        b.ai_status AS aiStatus,
        b.description AS description,
        b.create_time AS createTime
        FROM
        (SELECT a.slide_id, ${params.currentUserId} AS viewStatus
        FROM
        fr_slide a LEFT JOIN tb_image b ON a.image_id = b.image_id
        LEFT JOIN fr_single_slide c ON a.slide_id = c.slide_id
        WHERE
        a.del_flag = '0'
        AND a.special_id = #{params.projectId}
        <if test="params.fileName != null and params.fileName != ''">
            and b.image_name like concat('%',#{params.fileName},'%')
        </if>
        <if test="params.animalCodes != null and params.animalCodes.size() > 0">
            AND b.animal_code IN
            <foreach collection="params.animalCodes" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="params.waxCodes != null and params.waxCodes.size() > 0">
            AND b.wax_code IN
            <foreach collection="params.waxCodes" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="params.groupCodes != null and params.groupCodes.size() > 0">
            AND b.group_code IN
            <foreach collection="params.groupCodes" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="params.genderFlag != null and params.genderFlag != ''">
            AND b.sex_flag = #{params.genderFlag}
        </if>
        <if test="params.organTagIds != null and params.organTagIds.size() > 0">
            AND c.category_id IN
            <foreach collection="params.organTagIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="params.viewStatus != null">
            AND ${params.currentUserId} = #{params.viewStatus}
        </if>
        <if test="params.aiStatus != null and params.aiStatus.size() > 0">
            AND (a.ai_status IN
            <foreach collection="params.aiStatus" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            OR
            CASE WHEN c.forecast_status = '3' OR c.ai_status_fine = 3 THEN 5
            WHEN c.forecast_status = '1' OR c.ai_status_fine = 1 THEN 6
            WHEN c.forecast_status = '2' OR c.ai_status_fine = 2 THEN 7
            WHEN c.single_id IS NOT NULL THEN 4
            ELSE NULL END IN
            <foreach collection="params.aiStatus" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            )
        </if>
        <if test="params.description != null and params.description != ''">
            and a.description like concat('%',#{params.description},'%')
        </if>
        <if test="params.createTimeParams!=null">
            <if test="params.createTimeParams.beginTime != null ">
                AND date_format(a.create_time,'%Y%m%d') &gt;= date_format(#{params.createTimeParams.beginTime},'%Y%m%d')
            </if>
            <if test="params.createTimeParams.endTime != null ">
                AND date_format(a.create_time,'%Y%m%d') &lt;= date_format(#{params.createTimeParams.endTime},'%Y%m%d')
            </if>
        </if>
        GROUP BY a.slide_id) a
        JOIN fr_slide b ON a.slide_id = b.slide_id
        LEFT JOIN tb_image c ON b.image_id = c.image_id
        ORDER BY
        c.animal_code ASC,
        c.wax_code_order ASC,
        c.group_code ASC,
        c.sex_flag ASC
    </select>
    <select id="exportStructureList" resultType="cn.staitech.fr.vo.project.slide.SlidePageVo" parameterType="cn.staitech.fr.vo.project.slide.SlidePageReq">
        SELECT
        b.slide_id AS slideId,
        c.thumb_url AS thumbUrl,
        c.image_name AS fileName,
        c.image_name AS imageName,
        c.animal_code AS animalCode,
        c.wax_code AS waxCode,
        c.group_code AS groupCode,
        c.sex_flag AS genderFlag,
        a.viewStatus AS viewStatus,
        b.ai_status AS aiStatus,
        b.description AS description,
        b.create_time AS createTime
        FROM
        (SELECT a.slide_id, ${params.currentUserId} AS viewStatus
        FROM
        fr_slide a LEFT JOIN tb_image b ON a.image_id = b.image_id
        LEFT JOIN fr_single_slide c ON a.slide_id = c.slide_id
        WHERE
        a.del_flag = '0'
        AND a.special_id = #{params.projectId}
        <if test="params.fileName != null and params.fileName != ''">
            and b.image_name like concat('%',#{params.fileName},'%')
        </if>
        <if test="params.animalCodes != null and params.animalCodes.size() > 0">
            AND b.animal_code IN
            <foreach collection="params.animalCodes" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="params.waxCodes != null and params.waxCodes.size() > 0">
            AND b.wax_code IN
            <foreach collection="params.waxCodes" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="params.groupCodes != null and params.groupCodes.size() > 0">
            AND b.group_code IN
            <foreach collection="params.groupCodes" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="params.genderFlag != null and params.genderFlag != ''">
            AND b.sex_flag = #{params.genderFlag}
        </if>
        <if test="params.organTagIds != null and params.organTagIds.size() > 0">
            AND c.category_id IN
            <foreach collection="params.organTagIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="params.viewStatus != null">
            AND ${params.currentUserId} = #{params.viewStatus}
        </if>
        <if test="params.aiStatus != null and params.aiStatus.size() > 0">
            AND (a.ai_status IN
            <foreach collection="params.aiStatus" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            OR
            CASE WHEN c.forecast_status = '3' OR c.ai_status_fine = 3 THEN 5
            WHEN c.forecast_status = '1' OR c.ai_status_fine = 1 THEN 6
            WHEN c.forecast_status = '2' OR c.ai_status_fine = 2 THEN 7
            WHEN c.single_id IS NOT NULL THEN 4
            ELSE NULL END IN
            <foreach collection="params.aiStatus" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            )
        </if>
        <if test="params.description != null and params.description != ''">
            and a.description like concat('%',#{params.description},'%')
        </if>
        <if test="params.createTimeParams!=null">
            <if test="params.createTimeParams.beginTime != null ">
                AND date_format(a.create_time,'%Y%m%d') &gt;= date_format(#{params.createTimeParams.beginTime},'%Y%m%d')
            </if>
            <if test="params.createTimeParams.endTime != null ">
                AND date_format(a.create_time,'%Y%m%d') &lt;= date_format(#{params.createTimeParams.endTime},'%Y%m%d')
            </if>
        </if>
        GROUP BY a.slide_id) a
        JOIN fr_slide b ON a.slide_id = b.slide_id
        LEFT JOIN tb_image c ON b.image_id = c.image_id
        ORDER BY
        c.animal_code ASC,
        c.wax_code_order ASC,
        c.group_code ASC,
        c.sex_flag ASC
    </select>
</mapper>
