<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.fr.mapper.SpecialLockLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.staitech.fr.domain.ProjectLockLog">
        <id column="lock_log_id" property="lockLogId" />
        <result column="special_id" property="specialId" />
        <result column="type" property="type" />
        <result column="reason" property="reason" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        lock_log_id, special_id, type, reason, create_by, create_time
    </sql>

</mapper>
