<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.fr.mapper.SpecialAnnotationRelMapper">

    <resultMap id="BaseResultMap" type="cn.staitech.fr.domain.SpecialAnnotationRel">
            <id property="specialAnnotationRelId" column="special_annotation_rel_id" jdbcType="BIGINT"/>
            <result property="specialId" column="special_id" jdbcType="BIGINT"/>
            <result property="sequenceNumber" column="sequence_number" jdbcType="BIGINT"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        special_annotation_rel_id,special_id,sequence_number,
        create_by,create_time,update_by,
        update_time
    </sql>



    <select id="selectTableSpecialCount" parameterType="cn.staitech.fr.domain.Annotation" resultType="int">
        select count(distinct(special_id)) from fr_special_annotation_rel t where t.sequence_number = #{sequenceNumber}
    </select>
    
    
    <select id="getSeqNumberList"  resultMap="BaseResultMap">
    	SELECT DISTINCT
			( t2.sequence_number ) 
		FROM
			fr_special_annotation_rel t2 
		WHERE
			t2.special_id IN (
			SELECT
				t1.special_id 
			FROM
				fr_special t1 
			WHERE
			t1.del_flag = '0' 
			)
			ORDER BY sequence_number
    </select>
</mapper>
