<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.fr.mapper.StructureMapper">

    <resultMap id="BaseResultMap" type="cn.staitech.fr.domain.Structure">
            <result property="speciesId" column="species_id" jdbcType="VARCHAR"/>
            <result property="organCode" column="organ_code" jdbcType="VARCHAR"/>
            <result property="structureId" column="structure_id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="nameEn" column="name_en" jdbcType="VARCHAR"/>
            <result property="structureSize" column="structure_size" jdbcType="SMALLINT"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="organizationId" column="organization_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        species_id,organ_code,structure_id,
        name,name_en,structure_size,
        type,organization_id
    </sql>
</mapper>
