<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.staitech.fr.mapper.TopicMapper">
    <resultMap type="cn.staitech.fr.domain.Topic" id="SpecialResult">
        <result property="topicId" column="topic_id"/>
        <result property="topicName" column="topic_name"/>
        <result property="organizationId" column="organization_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <select id="getTopicList" resultType="cn.staitech.fr.domain.Topic">
        select ti.topic_id, ti.topic_name
        from tb_image ti
        left join tb_topic tt on ti.topic_id = tt.topic_id
        where ti.organization_id = #{organizationId}
          and ti.status = 4
          and ti.topic_id is not null
          and ti.image_id is not null
        group by ti.topic_id, ti.topic_name
        order by ti.topic_id desc
    </select>
</mapper>